# Student Data Analysis Notebook
This notebook houses the relevant data exploration and analysis for this test data set.
Found here: https://www.kaggle.com/datasets/atharvbharaskar/students-test-data/

There are 2 goals
1. Determine 3 limitations of the data and determine any ways to enhance it.
2. Analyze a particular trend and report the findings in written and verbal format with a slide deck

## Data Exploration
### Import Libraries

In [8]:
import pandas as pd # Data Manipulation
from pathlib import Path # Path reading
import matplotlib.pyplot as plt # Plot creation
import numpy as np # Data Math

### Setup for Plots

In [2]:
import matplotlib.pyplot as plt
# Default Plot
plt.rc('font', size=14)
plt.rc('axes', labelsize=14, titlesize=14)
plt.rc('legend', fontsize=14)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)

### Create an images folder and define a method for saving files

In [10]:
IMAGES_PATH = Path() / "images" 
IMAGES_PATH.mkdir(parents=True, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = IMAGES_PATH / f"{fig_id}.{fig_extension}"
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

## Read the Data

In [11]:
data_path = Path() / "archive" / "Private_data.csv"
student_data = pd.read_csv(data_path)
student_data.head()

,Unnamed: 0,NAME OF THE STUDENT,UNIVERSITY,PROGRAM NAME,Specialisation,SEMESTER,Domain,GENERAL MANAGEMENT SCORE (OUT of 50),Domain Specific SCORE (OUT 50),TOTAL SCORE (OUT of 100),RANK,PERCENTILE
0,0,Camila Wood,"Stanford University, USA",B.Com,Honours,5th,Finance,50,50,100,1,1.000000
1,1,Alexander Thompson,"Stanford University, USA",B.Com,Financial Services,5th,Finance,50,50,100,2,0.993377
2,2,Liam Taylor,"Harvard University, USA",B.Com,Accounting Analytics,5th,BA,50,50,100,3,0.986755
3,3,Evelyn Jenkins,"Stanford University, USA",B.Com,Honours,5th,Finance,49,50,99,4,0.980132
4,4,Michael Jackson,"Harvard University, USA",MBA,International Business,3rd,IB,50,49,99,5,0.973510